@font-face {
  font-family: 'aeroblade';
  src: url('/public/fonts/aeroblade.ttf');
}

* {
  // color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'aeroblade', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #000000;

  // color: #fff;
}

h1 {
  font-size: 80px;
}

.mainDiv {
  width: 500px;
  height: auto;
  position: absolute;
  left: 50px;
  bottom: 0px;
}
.mainShopSection {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
}
.mainShopDiv {
  justify-content: center;
  background-colosr: #fff;
  width: auto;

  // width: 50vw;

  // height: 100vh;
}

.mainTextSection {
  color: #fff;
  width: auto;

  position: absolute;
  left: 50px;
  bottom: 0px;
}

footer {
  background-image: url('../public/images/footer_web.jpg');
  color: #fff;
  position: relative;
  background-size: cover;
  height: 60vh;
  width: 100vw;
  background-position: left;
  background-repeat: no-repeat;
  .footerBlock {
    // background-color: #57dedb;
    position: absolute;
    width: 500px;
    height: auto;
    right: 50px;
    bottom: 50px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // align-items: end;
    // justify-content: end;
  }
}

nav {
  // font-family: 'aeroblade', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(0, 0, 0);
  color: white;
  padding: 2rem;
  letter-spacing: 1px;

  // position: absolute;
  // width: 100%;
}

div {
  background: transparent;
}

a {
  font-family: 'aeroblade', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.bikesNav {
  display: flex;
  align-items: center;

  gap: 50px;
}

.aboutNav {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 50px;
}

.cartQuantity {
  // background-color: #fff;
  // color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  // border-radius: 50%;
}

.hero {
  background-image: url('../public/images/background-1-10percent.jpg');
  // background-color: black;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.productPage {
  color: #000000;
  // background-color: #e12121;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  padding: 100px;
  flex-wrap: wrap;
  gap: 3rem;
  a {
    color: #000000;
  }
  .item {
    // background-color: aqua;
  }
}

.partsSection {
  background-color: #fff;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.product {
  // min-width: 400px;
  padding: 50px;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  // position: relative;
}
.productImageParams {
  width: auto;
  height: auto;
}

.productDescription {
  background-color: #f83131;

  display: grid;
  grid-gap: 20px;

  align-items: start;
  justify-content: center;
  grid-auto-columns: minmax(100px, 200px);
  grid-auto-rows: auto;

  .item {
    padding: 30px 0 0;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.aboutPage {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 20rem 3rem;
}

.cart {
  background-color: #fff;
  a {
    color: #000000;
  }
}

@media screen and (max-width: 1400px) {
  .productDescription {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product {
    padding: 20px;
  }

  .productImageParams {
    width: 50vw;
    height: auto;
  }

  .productImage {
    padding: 30px;
  }
}

@media screen and (max-width: 700px) {
  .product {
    // background-color: #57dedb;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
  }
  .productImage {
    padding: 10px;
  }
  .productDescription {
    padding: 0;
  }

  .productImageParams {
    width: 90vw;
    height: auto;
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2rem;
    padding: 0;

    // background-color: rgb(210, 76, 76);
  }
  .bikesNav {
    display: flex;
    flex-wrap: wrap;

    // flex-direction: column;
    gap: 0.5rem;
  }
}
