@font-face {
    font-family: 'bicycle';
    src: url('bicycle-Regular.woff2') format('woff2'),
        url('bicycle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

